default: &default
  adapter: postgresql
  pool: 5
  timeout: 5000
  encoding: utf8
  host: db
  port: 5432
  database: postgres
  username: postgres
  password: password

development:
  <<: *default

test:
  <<: *default
  database: tv_guide_api_test

production:
  <<: *default
  database: tv_guide_api_production
